/* .content {
  grid-area: content;
  border: 2px solid red;
} */

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid wheat;
  margin-bottom: 20px;
}

.wrapper__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 600px;
  padding: 10px;
}

.userPhoto {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 10px;
}

.userButton {
  padding: 10px;
}

.pagination {
  cursor: pointer;
}

.selectedPage {
  font-weight: 700;
}

.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
}
