.loginFormWrapper {
  padding: 10px;
}

.formControl.error input,
.formControl.error textarea {
  border: red 2px solid;
}

.formControl.error span {
  color: red;
}

.formSummaryError {
  border: rosybrown 2px solid;
  color: red;
  padding: 5px;
}
