.nav {
  grid-area: nav;
  /* border: 2px solid red; */
  background-color: rosybrown;
  padding: 20px;
}

.item {
  padding: 10px;
}

.item a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.item a.activeLink {
  color: gold;
}
