.descriptionBlock {
  padding: 10px;
  margin-top: 20px;
}

.userPhoto {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.statusBlock {
  padding: 10px;
  margin-top: 20px;
  /* border: wheat 1px solid; */
}

.inputWrapper {
  width: 100%;
  position: relative;
  margin: 15px 0;
  text-align: center;
}

.inputFile {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.inputFileButton {
  width: 100%;
  max-width: 180px;
  height: 40px;
  /* background: rosybrown; */
  /* color: #fff; */
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed;
  border-radius: 3px;
  cursor: pointer;
  margin: 0;
}

.inputFileButtonText {
  line-height: 1;
  margin-top: 1px;
}

/* Contacts */
.contactsWrapper {
  padding-left: 10px;
}
