.descriptionBlock {
  padding: 10px;
  margin-top: 20px;
}

.userPhoto {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.statusBlock {
  padding: 10px;
  margin-top: 20px;
  /* border: wheat 1px solid; */
}
