.item {
  margin: 0;
  padding: 20px;
  font: inherit;
  color: inherit;
  border-bottom: white 4px solid;
}

.item img {
  width: 80px;
  height: auto;
  border-radius: 50%;
}

.like img {
  width: 40px;
  height: auto;
  border-radius: 50%;
}
