/* .content {
  grid-area: content;
  border: 2px solid red;
} */

.dialogs {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: rosybrown;

  gap: 40px;
}

.dialogsItems {
  padding: 10px;
  border: 2px solid green;
}

.dialog {
  padding: 10px;
  border: 2px solid red;
}

.dialog a{
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.dialog a.activeLink {
  color: gold;
}

.messages {
  border: 2px solid red;
}

.avatarWrapper{
  padding: 10px;
}

.avatar {
  width: 40px;
  height: auto;
  border-radius: 50%;
  padding: 10px;
}

.messages {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rosybrown;

  gap: 40px;
}

.messagesUser {
  padding: 20px;
}

.messagesFriend {
  padding: 20px;

}

.message {
  padding: 20px;
}