/* .content {
  grid-area: content;
  border: 2px solid red;
} */

.dialogs {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: rosybrown;

  gap: 40px;
}

.dialogsItems {
  padding: 10px;
  border: 2px solid green;
}

.dialog {
  padding: 10px;
  border: 2px solid red;
}

.dialog a{
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.dialog a.activeLink {
  color: gold;
}

.messages {
  border: 2px solid red;
}

.message {

}